/* PRELOAD IMAGES */
body:after {
    content: url(../assets/darkbox/close.svg) url(../assets/darkbox/right.svg) url(../assets/darkbox/left.svg);
    display: none;
}

body.db-disable-scrolling {
    overflow: hidden;
}

#darkboxOverlay {
    position: fixed;
    z-index: -50000;
    visibility: hidden;
    pointer-events: none;

    left: 0; right: 0;
    top: 0; bottom: 0;

    transform: translateZ(1000px);

    background-color: #111;
    opacity: 0.0;

    transition: opacity 0.6s;
}
#darkboxOverlay.show {
    z-index: 50000;
    visibility: visible;
    pointer-events: auto;
}
#darkboxOverlay.fill {
    opacity: 0.96;
}

#darkbox {
    position: fixed;
    z-index: 50001;
    display: none;

    left: 0; right: 0;
    top: 0; bottom: 0;

    transform: translateZ(1000px);
}
#darkbox > .straight {
    position: absolute;
    z-index: 50002;
}
#darkbox > .straight.scale {
    /* width: 100% !important;
    height: auto !important; */
    height: 100% !important;
    width: auto !important;

    left: 50% !important;
    top: 50% !important;

    transform: translate(-50%, -50%) !important;

    transition: width 0.4s ease-out, height 0.4s ease-out;
}

#darkbox-right {
    position: fixed;
    z-index: 50005;
    display: none;

    width: 70%;

    top: 0; bottom: 0;
    right: 0;

    transform: translateZ(1000px);
}
#darkbox-right > img {
    position: absolute;
    z-index: 50006;

    height: 50px;
    width: auto;

    right: -100px;
    top: 50%;

    transform: translateY(-50%) translateZ(1000px);

    transition: right 0.4s ease-out;

    cursor: pointer;
}
#darkbox-right.show>img {
    right: 0px;
}

#darkbox-left {
    position: fixed;
    z-index: 50005;
    display: none;

    width: 30%;

    top: 0; bottom: 0;
    left: 0;

    transform: translateZ(1000px);
}
#darkbox-left > img {
    position: absolute;
    z-index: 50006;

    height: 50px;
    width: auto;

    left: -100px;
    top: 50%;
    
    transform: translateY(-50%) translateZ(1000px);

    transition: left 0.4s ease-out;

    cursor: pointer;
}
#darkbox-left.show>img {
    left: 0px;
}

#darkbox-cancel {
    position: fixed;
    z-index: 50010;
    display: none;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
    transform: translateZ(1000px);
}
#darkbox-cancel>img {
    position: absolute;
    z-index: 50011;
    height: 60px;
    width: auto;
    right: 10px;
    top: 10px;
    transform: translateZ(1000px);
    transition: opacity 0.4s ease-out;
    opacity: 0.0;
    cursor: pointer;
}
#darkbox-cancel.show>img {
    opacity: 1.0;
}

#darkbox-title {
    position: fixed;
    z-index: 50010;
    display: none;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
    transform: translateZ(1000px);
}
#darkbox-title > h1 {
    position: absolute;
    left: 0; right: 0;
    bottom: -100px;
    color: #fff;
    font-size: 1.3rem;
    font-family: sans-serif;
    transform: translateZ(1000px);
    transition: bottom 0.4s ease-out;
    height: 30px;
    text-align: center;
}
#darkbox-title.show > h1 {
    bottom: 10px;
}

#darkbox-progress {
    position: fixed;
    z-index: 50020;
    top: 0;
    right: 0;
    left: 0;
    height: 2px;
    transform: translateZ(1000px);
    display: none;
    background-image: linear-gradient(to right, #FDD835, #F4511E);
}
#darkbox-progress > div {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #111;
    transition: left 0.8s ease-in-out;
}

@media (min-width: 960px) {
    #darkbox>.straight.scale {
        height: 100% !important;
        width: auto !important;
    }

    #darkbox-left>img {
        height: 80px;
    }
    #darkbox-left.show>img {
        left: 10px;
    }

    #darkbox-right>img {
        height: 80px;
    }
    #darkbox-right.show>img {
        right: 10px;
    }
}
